<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Django and Vue.js</title>
</head>
<body class="bg-light">
<div class="bg-white container">

    <div id="threads-app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link
                        class="nav-link text-primary"
                        to="/author/">Authors List</router-link>
                </li>
                <li class="nav-item">
                    <router-link
                        class="nav-link text-primary"
                        to="/thread/">Threads List</router-link>
                </li>
            </ul>
        </nav>
        <br/>
        <router-view></router-view>
    </div>
</div>

<!-- Vue.js -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://unpkg.com/vuex"></script>


<template id="threads-list-template">
    <div class="threads-list">
        <h2>Threads list</h2>
        <thread-item
                v-for="thread in threads"
                v-bind:key="thread.slug"
                v-bind:name="thread.name"
                v-bind:slug="thread.slug"
                v-bind:content="thread.content"
        ></thread-item>
    </div>
</template>

<template id="authors-list-template">
    <div class="authors-list">
        <h2>Authors list</h2>
        <author-item
                v-for="author in authors"
                v-bind:key="author.slug"
                v-bind:name="author.name"
                v-bind:slug="author.slug"
        ></author-item>
    </div>
</template>

<template id="thread-item-template">
    <div class="thread-item">
        <span v-if="$route.params.slug">
            <h3>
                <router-link
                        v-bind:to="'/thread/' + $route.params.slug + '/'"
                        v-html="$store.getters.getThreadBySlug($route.params.slug)['slug']"
                ></router-link>
            </h3>
            <div v-html="$store.getters.getThreadBySlug($route.params.slug)['content']"></div>
            <div v-html="$store.getters.getThreadBySlug($route.params.slug)['content']"></div>
        </span>
        <span v-else>
            <h3>
                <router-link
                        v-bind:to="'/thread/' + slug + '/'"
                        v-html="name"
                ></router-link>
            </h3>
            <div v-html="content"></div>
            <hr />
        </span>
    </div>
</template>

<script>
    const store = new Vuex.Store({
        state: {
            authors: [
                {% for author in authors %}
                    {
                        name: '{{ author.name }}',
                        slug: '{{ author.slug }}',
                    },
                {% endfor %}
            ],
            threads: [
                {% for thread in threads %}
                    {
                        content: '{{ thread.content }}',
                        name: '{{ thread.name }}',
                        slug: '{{ thread.slug }}'
                    }
                {% endfor %}
            ]
        },
        getters: {
            getThreadBySlug: (state) => (slug) => {
                return state.threads.find(threads => threads.slug === slug)
            },
            getAuthorBySlug: (state) => (slug) => {
                return state.authors.find(authors => authors.slug === slug)
            }
        }
    })

    ThreadList = Vue.component('threads-list', {
        data: function() {
            return { threads: store.state.threads }
        },
        template: '#threads-list-template'
    })

    ThreadItem = Vue.component('thread-item', {
        delimiters: ['[[', ']]'],
        props: ['name', 'slug', 'content'],
        template: '#thread-item-template'
    })

    AuthorList = Vue.component('author-list', {
        data: function() {
            return { authors: store.state.authors }
        },
        template: '#authors-list-template'
    })

    const routes = [
        { component: ThreadList, path: '/thread/', },
        { component: ThreadList, path: '/thread/:slug/', },
        { component: AuthorList, path: '/author/', }
    ]

    const router = new VueRouter({
        mode: 'history',
        routes: routes
    })

    const threadsApp = new Vue({
        router,
        store
    }).$mount('#threads-app')
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>